weights/*
!weights/placeholder.txt
output/*
!output/placeholder.txt
frames/*
!frames/placeholder.txt
violationframes/*
!violationframes/placeholder.txt

data.sf
sensitive_data.json
backup_aiml_zip_drive.py
__pycache__/*
utility_scripts_wsd/*
.idea/*
examine.txt
examine.csv
/analyse.py
analys*
*.mp4
**/temp*
video_predictions.txt
